*{padding: 0;margin: 0;}

.float{
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #4e73df;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    z-index: 2;
}

.my-float{
    margin-top: 22px;
}

.float:hover{
    background-color: #FFF;
    color: #4e73df;
}

textarea{
    resize: vertical;
}

.al-404 {
    height: 100vh;
}

.al-404 h2{
    font-size: 200px;   
}

.al-404 p{
    font-size: 20px;
}

.al-404 a{
    font-size: 15px;
}